a{ text-decoration: none;font-size: 12px; padding:4px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #333333;}
/*a:hover{ padding:4px;color: #000000; }
*/.style1 {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000;FONT-WEIGHT: bold;}
.style2 {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #0067BB;FONT-WEIGHT: bold;}
.red_small {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000;}
.style2 {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #666666;}
.lable {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #00000;}
.td {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #666666; background-color:#FFCCCC}
.style6 {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF;}
.navigation {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color:#666666;
}
.navigation1 {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color:#000000; background-color:#669999}

.Table {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color:#666666;
}
.small_TBH{font-size: 9px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; background-color:#A6D1F2}

.Table_body {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #330033;
	background-color:#F4FAFF
}
.Table_body_p {
    border:1px;
	border-color:#041B56;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #330033;
	background-color:#F4FAFF
}

.Table_body_white {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #330033; background-color:#E8E8E8}

.Table_body1 {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; background-color:#FFFFFF;}
.Table_body1_text {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	background-color:#C1E0FF;
}

.Table_body2 {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; background-color:#FF9966}
.Table_body2_text {font-size: 101px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #333333; background-color:#FF9966}

.Table_body3 {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; background-color:#FF66CC}
.Table_body4 {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color:; background-color:#FFFFFF}
.Table_body3_text {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #333333; background-color:#FF66CC;}

.Table_heading {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align:center;
	background-color:#F5F5F5;
}

.disable_heading {color: #FFFFFF;font-weight: bold;font-size: 14px;}
.disable_text {color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 5px;}

.Disable_button{BORDER-RIGHT: #7f9db9 0px solid;BORDER-TOP: #7f9db9 0px solid;BORDER-LEFT: #7f9db9 0px solid;BORDER-BOTTOM: #7f9db9 0px solid;FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none }
.BT_style{BACKGROUND-COLOR: #0067BB; BORDER-BOTTOM-COLOR: #cccccc; BORDER-LEFT-COLOR: #cccccc; BORDER-RIGHT-COLOR: #cccccc; BORDER-TOP-COLOR: #cccccc; COLOR: #ffffff; FONT-SIZE: 11pt; FONT-WEIGHT: bold;}
.GN_style{
	BACKGROUND-COLOR: #A6D1F2;
	BORDER-BOTTOM-COLOR: #cccccc;
	BORDER-LEFT-COLOR: #cccccc;
	BORDER-RIGHT-COLOR: #cccccc;
	BORDER-TOP-COLOR: #cccccc;
	COLOR: #000000;
	FONT-SIZE: 11pt;
	FONT-WEIGHT: normal;
}
.GN_style_button{
	BACKGROUND-COLOR: #041B56;
	COLOR: #FFFFFF;
	FONT-SIZE: 11pt;
	FONT-WEIGHT: normal;
	border: medium none #FFFFCC;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.style5 {color: #FF9900; font-size: 14px;}

.boldEleven {FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000099; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none}

.Headline {FONT-SIZE: 12px; COLOR: #000099; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none}


.text_color{ FONT-SIZE: 12px; COLOR: #FFFFFF; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none}
.Current_navigation{ text-decoration:overline; FONT-SIZE: 12px;FONT-WEIGHT: bold; padding:4px;color: #000000;background:#B7C005;}
.formText135 {BORDER-RIGHT: #7f9db9 1px solid;BORDER-TOP: #7f9db9 1px solid;BORDER-LEFT: #7f9db9 1px solid;BORDER-BOTTOM: #7f9db9 1px solid;FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none }
.Head {FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none}
.dropdown {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #003399;
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif;
	TEXT-DECORATION: none;
	Width: 200px;
}
.dropdown1 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #003399;
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif;
	TEXT-DECORATION: none;
	Width: 300px;
}
.inputtext {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif;
	TEXT-DECORATION: none;
	width: 200px;
}
.Head1 {FONT-WEIGHT: normal; FONT-SIZE: 15px; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none
}

.line {BORDER-RIGHT: #7f9db9 1px solid;BORDER-TOP: #7f9db9 1px solid;BORDER-LEFT: #7f9db9 1px solid;BORDER-BOTTOM: #7f9db9 1px solid;FONT-WEIGHT: normal; FONT-SIZE: 7px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none }

.fieldsOn {BORDER-RIGHT: #7f9db9 1px solid;BORDER-TOP: #7f9db9 1px solid;BORDER-LEFT: #7f9db9 1px solid;BORDER-BOTTOM: #7f9db9 1px solid;BACKGROUND-COLOR: #FAFCE1;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 9px;}
.rotate_text{font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; writing-mode: tb-rl; text-align:left; background-color:#CCCCCC;}

.fieldsOff {BORDER-RIGHT: #7f9db9 1px solid;BORDER-TOP: #7f9db9 1px solid;BORDER-LEFT: #7f9db9 1px solid;BORDER-BOTTOM: #7f9db9 1px solid;BACKGROUND-COLOR: #ffffff;FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none }.iframe_format {
	background-image: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
